<!DOCTYPE html>
<html>
	<head>
		<title>User</title>
	</head>
	<body>
		<H3>User</H3>
		<form action="/user" method="post">
			<h5>email</h5> </br>
			<input type="email" name="email" value="tungpd@sv.dut"> </br>
			<h5>regionId</h5> </br>
			<input type="text" name="regionId" value="5bc466e3dc0111146fb5f067"> </br>
			<h5>sexId</h5> </br>
			<input type="text" name="sexId" value="0"> </br>
			<h5>ageId</h5> </br>
			<input type="text" name="ageId" value="1"> </br>
	  		<input type="submit" name="upload" value="Submit">
		</form>
	</body>
</html>