<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đồ án chuyên ngành nhúng</title>
    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/lib/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/lib/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/lib/ie-emulation-modes-warning.js"></script>

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Trang chủ</a></li>
            <li role="presentation" class="active"><a href="#">Download</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Đồ án chuyên ngành nhúng</h3>
      </div>

      <div class="jumbotron">
        <h1>Tải tập âm thanh Tiếng Việt</h1>
        <p class="lead">Âm thanh Tiếng Việt, được thu thập khắp nơi, được lưu trữ và cho phép mọi người tải về miễn phí.<br>
        Để biết thêm được thông tin, vui lòng đọc bên dưới</p>
        <p><a class="btn btn-lg btn-success" href="./" role="button">TẢI VỀ TẠI ĐÂY</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Âm thanh</h4>
          <p>Các file âm thanh sau khi được thu thập lại, được lưu dưới định dạng Audio/wave. Được ghi theo các đoạn văn bản khác nhau, các độ tuổi và các vùng miền khác nhau</p>

        </div>
        <div class="col-lg-6">
          <h4>Thông tin</h4>
          <p>Thông tin được lưu trữ trong file "AudioInfo.xlsx".
          	Được tổ chức gồm các thông tin sau:
          	<ul>
          		<li>Tên file</li>
          		<li>Đoạn văn trong file</li>
          		<li>Giới tình người đọc</li>
          		<li>Độ tuổi người đọc</li>
          		<li>Vùng miền của người đọc</li>
          	</ul>
          </p>

        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2018 DUT, UDN.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/lib/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
