<!DOCTYPE html>
<html>
<head>
	<title>Đồ án chuyên ngành nhúng</title>
</head>
<body>
	<H3>HELLO WORLD</H3>
	<button>
		<a href="./download/page">Download</a>
	</button>
	<a href="./upload">
		<H3>Upfile</H3>
	</a>

</body>
</html>