<!DOCTYPE html>
<html>
<head>
	<title>Đồ án chuyên ngành nhúng</title>
</head>
<body>
	<H3>HELLO WORLD</H3>
	<img src="google.png">
	<button>
		<a href="./download">Download</a>
	</button>
	<a href="./upload">
		<H3>Upfile</H3>
	</a>

	<H3>Upload script</H3>
	<form action="/uploadScript" method="post" enctype="multipart/form-data">
		<input type="file" name="file" required="true"></br>
  		<input type="submit" name="upload" value="Submit">
	</form>
</body>
</html>