<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Thu âm
    </title>
        <link rel="stylesheet" type="text/css" href="/lib/css/web.css">
        <script type="text/javascript" src="/lib/js/recorder.js"></script>
        <script type="text/javascript" src="/lib/js/jquery-3.3.1.min.js"></script>
        <script src="/lib/js/popper.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <script>
            var script = ['Hello world', 'Hi Tung', 'Day la do an'];
            var i = -1;
            var blobList = []


            function __log(e, data) {
                // log.innerHTML += "\n" + e + " " + (data || '');
            }

            var audio_context;
            var recorder;

            function startUserMedia(stream) {
                var input = audio_context.createMediaStreamSource(stream);
                __log('Media stream created.');

                recorder = new Recorder(input);
                __log('Recorder initialised.');
            }

            function startRecording(button) {
                recorder && recorder.record();
                hideStartRecordButton();
                __log('Recording...');
            }

            function stopRecording(button) {
                recorder && recorder.stop();
                __log('Stopped recording.');

                showNextScript();
                showStartRecordButton();
                if (i == 3) {
                    showButtonUpload();
                    $('#myModal').modal('hide');
                    hideStartButton();
                }

                createDownloadLink();
                recorder.clear();
            }

            function createDownloadLink(blob) {
                recorder && recorder.exportWAV(function(blob) {
                    var fd = new FormData();
                    fd.append('upl', blob, 'blobby.wav');

                    fetch('/demo',
                    {
                        method: 'post',
                        body: fd
                    }); 

                    blobList[i-1] = blob;

                    var url = URL.createObjectURL(blob);
                    var li = document.createElement('li');
                    var au = document.createElement('audio');
                    var dr= document.createElement('p');
                    var input= document.createElement('input');
                    dr.innerHTML= script[i-1];
                    au.controls = true;
                    au.src = url;
                    li.appendChild(dr);
                    li.appendChild(au); 
                    recordingslist.appendChild(li);
                });
            }

            window.onload = function init() {
                try {
                    window.AudioContext = window.AudioContext || window.webkitAudioContext;
                    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
                    window.URL = window.URL || window.webkitURL;

                    audio_context = new AudioContext;
                    __log('Audio context set up.');
                    __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
                } catch (e) {
                    alert('No web audio support in this browser!');
                }

                navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
                    __log('No live audio input: ' + e);
                });
            };

            showStartButton = function() {
                $('#btnStart').show()
                $('#labelThanks').hide()
            }
            hideStartButton = function() {
                $('#btnStart').hide()
                $('#labelThanks').show()
            }
            showStartRecordButton = function() {
                $('#startRecord').show()
                $('#stopRecord').hide()
            }
            hideStartRecordButton = function() {
                $('#startRecord').hide()
                $('#stopRecord').show()
            }
            showNextScript = function() {
                i++;
                $('#script').text(script[i]);
            }
            generalButtonUpload = function() {
                upload.addEventListener("click", function(blob, name="audio") {
                });
            }
            showButtonUpload = function() {
                $('#btnUpload').show()
                $('#btnRetry').show()
                $('#btnNewSesion').show()
            }
            hideButtonUpload = function() {
                $('#btnUpload').hide()
                $('#btnRetry').hide()
                $('#btnNewSesion').hide()
            }
            $(()=>{
                showStartButton();
                showStartRecordButton();
                showNextScript();
                hideButtonUpload();
            })
        </script>
    </head>
    <body class="container-fluid1">
        <div class="container row">
            <div style="margin-top: 100px;" class="col-md-3 col-md-offset-2">
                <b>
                    <h2>Thu Âm</h2>
                </b>
                <ul>
                    <li><a href="trangchu.html">Trang chủ</a></li>
                    <li><a style="background: #EC870E; color: #fbfcfd;" href="ghiam.html">Ghi âm</a></li>
                    <li><a href="kiemtra.html">Kiem tra</a></li>
                    <li><a href="hoso.html">Hồ sơ</a></li>
                </ul>
            </div>
            <div class="col-md-4" >
                <label style=" font-size: 30px; margin-top: 100px; font-weight: 700;">
                    Các Bước Thu Âm
                </label>            
                <dl class="dl-horizontal">
                    <p id="id_test1"></p>
                    <p id ="id_test2"></p>
                    <p id="id_test3"></p>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btnStart">
                        Bắt đầu thu âm
                    </button>
                    <div class="alert alert-success" id="labelThanks">
                        <strong>Cám ơn đã xong</strong>
                    </div>

                    <h2>Danh sách đã thu</h2>
                    <ul id="recordingslist"></ul>
                    <button type="button" class="btn btn-primary" id="btnNewSesion">Ghi mới</button>
                    <button type="button" class="btn btn-warning" id="btnRetry">Ghi âm lại</button>
                    <button type="button" class="btn btn-success" id="btnUpload">Kiểm tra xong - Gửi</button>
                </dl>
            </div>
        </div>

        <div class="container modal" id="myModal">
            <!-- The Modal -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Bắt đầu ghi âm</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <p id="script">Modal body..</p> <br>
                        <button onclick="startRecording(this)" id="startRecord">record</button>
                        <button onclick="stopRecording(this)" id="stopRecord">stop</button>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnHuyRecording">
                            Hủy
                        </button>
                    </div>
                </div>
            </div>
        
        </div>
    </body> 
</html>