<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
          Thu âm
        </title>
        <link rel="stylesheet" type="text/css" href="/lib/css/web.css">
        <script type="text/javascript" src="/lib/js/recorder.js"></script>
        <script type="text/javascript" src="/lib/js/jquery-3.3.1.min.js"></script>
        <script src="/lib/js/popper.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/lib/js/recorderProcess.js"></script>
    </head>
    <body class="container-fluid1">
        <div class="container row">
            <div style="margin-top: 100px;" class="col-md-3 col-md-offset-2">
                <b>
                    <h2>Thu Âm</h2>
                </b>
                <!-- <ul>
                    <li><a href="trangchu.html">Trang chủ</a></li>
                    <li><a style="background: #EC870E; color: #fbfcfd;" href="ghiam.html">Ghi âm</a></li>
                    <li><a href="kiemtra.html">Kiem tra</a></li>
                    <li><a href="hoso.html">Hồ sơ</a></li>
                </ul> -->
            </div>
            <div class="col-md-6" >
                <label style=" font-size: 30px; margin-top: 100px; font-weight: 700;">
                    Các Bước Thu Âm
                </label>            
                <dl class="dl-horizontal">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btnStart">
                        Bắt đầu thu âm
                    </button>
                    <div class="alert alert-success" id="labelThanks">
                        <strong id>Cám ơn đã xong</strong>
                    </div>
                    <div class="alert alert-success" id="labelOnLoad">
                        <strong id="textOnLoad">Đang tải dữ liệu...</strong>
                    </div>

                    <h2>Danh sách đã thu</h2>
                    <ul id="recordingslist"></ul>
                    <button type="button" class="btn btn-primary" id="btnNewSesion">Ghi mới</button>
                    <button type="button" class="btn btn-warning" id="btnRetry">Ghi âm lại</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#popUpInfo" id="btnUpload">
                        Kiểm tra xong - Gửi
                    </button>
                </dl>
            </div>
        </div>

        <div class="container modal" id="myModal">
            <!-- The Modal -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Bắt đầu ghi âm</h4>
                        <button type="button" class="close" data-dismiss="modal" id="btnHuyRecording1">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <p id="script">Modal body..</p> <br>
                        <button onclick="startRecording(this)" id="startRecord">record</button>
                        <button onclick="stopRecording(this)" id="stopRecord">stop</button>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnHuyRecording2">
                            Hủy
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container modal" id="popUpInfo">
            <!-- The Modal -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Thông tin người dùng</h4>
                        <button type="button" class="close" data-dismiss="modal" id="btnHuyRecording1">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <h5>email</h5> </br>
                        <input type="email" name="email" id="txtEmail"> </br>
                        <small>vùng miền *</small>
                        <select class="form-control" id="inpReg" onchange="onChange()">
                            <%if (locals.foo) { %>
                                <%for (var i = 0; i < regions.length; i++) { %>
                                    <option value="<%=regions[i]._id%>"><%=regions[i].region%></option>
                                <%}%>
                            <%}else {%>
                                <option value='null'>--</option>
                                <option value="5bc466e3dc0111146fb5f067" >Bắc (r, s, tr đọc nhẹ)</option>
                                <option value="5bc46ec7dc0111146fb6143d" >Bắc (r, s, tr đọc nặng) </option>
                                <option value="5bc46f81dc0111146fb617b3" >Bắc (lẫn l và n)</option>
                                <option value="5bc46f81dc0111146fb617b6" >Thanh Hóa</option>
                                <option value="5bc46f82dc0111146fb617b8" >Nghệ An</option>
                                <option value="5bc46f82dc0111146fb617bb" >Hà Tĩnh</option>
                                <option value="5bc46f82dc0111146fb617bd" >Quảng Bình </option>
                                <option value="5bc46f83dc0111146fb617bf">Quảng Trị</option>
                                <option value="5bc46f83dc0111146fb617c2">Huế</option>
                                <option value="5bc46f83dc0111146fb617c4">Quảng Nam, Đầ Nẵng, Quảng Ngãi</option>
                                <option value="5bc46f84dc0111146fb617c6">Tây Nguyên</option>
                                <option value="5bc46f84dc0111146fb617cb">Bình Định</option>
                                <option value="5bc46f84dc0111146fb617cf">Phú Yên đến Bình Thuận</option>
                                <option value="5bc46f84dc0111146fb617d2">Đông Nam Bộ</option>
                                <option value="5bc46f85dc0111146fb617d5">Tây Nam Bộ</option>
                            <%}%>
                        </select>
                        <small>Tuổi *</small>
                        <select class="form-control" id="inpAge" onchange="onChange()">
                            <%for (var age in ages) { %>
                                <option value="<%=age%>"><%=ages[age]%></option>
                            <%}%>
                        </select>
                        <small>Giới Tính *</small>
                        <select class="form-control" id="inpSex" onchange="onChange()">
                            <option value='null'>--</option>
                            <option value="0">Nam</option>
                            <option value="1">Nữ</option>
                            <option value="3">khác</option>
                        </select>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="alert alert-warning" id="labelAlert">
                            <strong>Nhập đủ thông tin trước khi gửi!</strong>
                        </div>
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="btnSubmit">
                            Gửi
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container modal" id="modalRecordAgain">
            <!-- The Modal -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Ghi âm lại</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <p id="scriptAgain">Modal body..</p> <br>
                        <button onclick="startRecordAgain(this)" id="startRecordAgain" >record</button>
                        <button onclick="stopRecording(this)" id="stopRecordAgain" >stop</button>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCancelRcAgain">
                            Hủy
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </body> 
</html>