<!DOCTYPE html>
<html>
	<head>
		<title>Upload</title>
	</head>
	<body>
		<H3>Upfile</H3>
		<form action="/upload" method="post" enctype="multipart/form-data">
			<input type="text" name="idUser" value="5bb8e0d04df33705e4edf5c5"> </br>
			<input type="text" name="idScript1" value="5bb8e0d04df33705e4edf5c5"> </br>
			<input type="file" name="file1"></br>
			<input type="text" name="idScript2" value="5bb8e0d04df33705e4edf5c5"> </br>
			<input type="file" name="file2"></br>
			<input type="text" name="idScript3" value="5bb8e0d04df33705e4edf5c5"> </br>
			<input type="file" name="file3"></br>
	  		<input type="submit" name="upload" value="Submit">
		</form>
	</body>
</html>